.id4 {
  background-color: teal;
  position: fixed;
  width: 100vw;
  top: 0;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed;

  top: 0; */
}
li {
  list-style: none;
  font-size: 35px;
  padding: 10px 20px;
  color: tomato;
}
.std {
  color: rgb(16, 31, 241);
  background-color: black;
  padding: 10px;
  transition: all 0.5s;
}
